.main-nav {
    background: #fff;
    text-align: center;
}

.main-nav-tab a {
    position: relative;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    font-size: 14px;
    color: #666;
    padding: 0 5px;
    padding-left: 34px;
    background-image: url(../image/main_nav_tab_bg.png?v=20170101);
    background-repeat: no-repeat;
}

.main-nav-tab a .caret {
    position: absolute;
    display: none;
    bottom: 0px;
    left: 50%;
    margin-left: -3px;
    border-top: none;
    border-bottom: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.main-nav-tab.active a,
.main-nav-tab a:hover {
    color: #fb8d5c;
    border-bottom: 2px solid #fb8d5c;
}

.main-nav-tab.active a .caret,
.main-nav-tab a:hover .caret {
    display: block;
}

.hotApp_tab {
    background-position: 0 10px;
}

.main-nav-tab.active a.hotApp_tab,
.main-nav-tab .hotApp_tab:hover {
    background-position: 0 -55px;
}

.myApp_tab {
    background-position: 0 -380px;
}

.main-nav-tab.active a.myApp_tab,
.main-nav-tab .myApp_tab:hover {
    background-position: 0 -444px;
}

.text_tab {
    background-position: 0 -316px;
}

.main-nav-tab.active a.text_tab,
.main-nav-tab .text_tab:hover {
    background-position: 0 -250px;
}

.decode_tab {
    background-position: 0 -508px;
}

.main-nav-tab.active a.decode_tab,
.main-nav-tab .decode_tab:hover {
    background-position: 0 -573px;
}

.wechat_tab {
    background-position: 0 -118px;
}

.main-nav-tab.active a.wechat_tab,
.main-nav-tab .wechat_tab:hover {
    background-position: 0 -183px;
}

.weixin_app {
    background-position: 0 -640px;
}

.main-nav-tab.active a.weixin_app,
.main-nav-tab .weixin_app:hover {
    background-position: 0 -709px;
}

.new_icon {
    position: absolute;
    right: -20px;
    top: 8px;
    z-index: 9;
}

.generate_qrcode_box {
    padding-top: 20px;
}

.qrcode_explain {
    font-size: 14px;
    line-height: 30px;
}

.qrcode_url_box .os_name {
    font-size: 14px;
}

.qrcode_url_box .auto_logo_lable {
    font-size: 12px;
    color: #999;
    padding-left: 10px;
}

.qrcode_url_box .auto_logo_checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid #f2f2f2;
    vertical-align: -3px;
}

.qrcode_url_tips {
    height: 30px;
    line-height: 30px;
}

.generate_qrcode_box .qrcode_url_input {
    height: 48px;
    margin-top: 5px;
    padding: 0 20px;
    font-size: 14px;
}

.generate_btn_box {
    padding-top: 55px;
    text-align: center;
}

.generate_btn_box .btn {
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    margin-right: 40px;
    padding: 8px 30px;
}

.generate_qrcode_box .qrcode_show_box {
    max-width: 300px;
    max-height: 300px;
    margin: 20px auto;
}

.generate_qrcode_box .qrcode_show_box img {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.generate_qrcode_box .qrcode_function {
    max-width: 300px;
    margin: 0 auto;
}

.upload_btnbox,
.down_btnbox {
    padding: 0;
}

.generate_qrcode_box .upload_logo {
    width: 100%;
}

.generate_qrcode_box .down_qrcode_box {
    width: 100%;
    font-size: 14px;
    color: #666;
    height: 40px;
}

.generate_qrcode_box .upload_logo {
    height: 40px;
    padding: 0;
}

.generate_qrcode_box .down_qrcode_btn {
    height: 40px;
    padding: 0;
    width: 80%;
}

.generate_qrcode_box .down_qrcode_more {
    width: 20%;
    height: 40px;
    padding: 0;
    background: url(../img/index/more_down_bg.png) center center no-repeat;
    background-color: #fff;
}

.generate_qrcode_box .qrcode_function {
    /*padding-top: 20px;*/
}

.generate_qrcode_box .alert {
    margin: 20px 0;
}

#myApp_box .qrcode_explain {
    margin-bottom: 32px;
}

#myApp_box .generate_btn_box {
    padding-top: 127px;
}

#textarea_box .qrcode_url_box {
    padding-top: 0;
}

#textarea_box .qrcode_url_tips {
    margin-bottom: 20px;
}

#textarea_box .qrcode_url_textarea {
    height: 260px;
    resize: none
}

#textarea_box .generate_btn_box {
    padding-top: 62px;
}

#decode_box .decode_upload_btn_lable {
    font-size: 20px;
    color: #666;
    line-height: 40px;
}

#decode_box {
    padding-top: 0px;
}

.decode_upload_box {
    padding-top: 0px;
}

#decode_box .decode_upload_left,
#decode_box .decode_upload_right {
    float: left;
}

#decode_box .decode_upload_left {
    width: 160px;
}

#decode_box .decode_upload_btn {
    color: #fff;
    padding: 10px 50px;
    margin-bottom: 50px;
}

#decode_box .decode_upload_right .tips {
    margin-bottom: 20px;
}

#decode_box .decode_results_textarea {
    width: 100%;
    height: 170px;
    border: 1px solid#ccc;
    border-radius: 4px;
    background: #fff;
    resize: none;
}

.user_link_box {
    line-height: 30px;
    margin-top: 15px;
}

.user_link_box a {
    display: block;
}

.user_link_box .user_link_icon02 {
    display: inline-block;
    padding-left: 18px;
    background: url(../img/index/user_link_icon02.png) 0 center no-repeat;
}

.user_link_box .user_link_icon01 {
    display: inline-block;
    padding-left: 18px;
    background: url(../img/index/user_link_icon01.png) 0 center no-repeat;
}

.user_link_box .user_link_icon03 {
    display: inline-block;
    padding-left: 18px;
    background: url(../img/index/user_link_icon03.png) 0 center no-repeat;
}

#wechat_box .qrcode_url_box {
    margin-top: 0px;
}

#wechat_box .text_1 {
    margin-top: 30px;
}

#wechat_box .qrcode_url_input_box {
    margin-top: 30px;
}

#wechat_box .generate_qrcode_btn {
    height: 48px;
    padding: 0 38px;
    font-size: 16px;
    background: #fb8d5c;
    color: #fff;
    border-color: #fb8d5c;
}

#wechat_box .qrcode_url_input {
    margin-top: 0;
}

#wechat_qrcode_up {
    text-decoration: underline;
    padding: 0 5px;
}


/*首页的广告*/

.floor_1 {
    margin-top: 90px;
    background: #fff;
    padding: 10px;
}

.floor_1 .notice_box {
    max-width: 800px;
    height: 40px;
    line-height: 40px;
    margin: 40px auto 0 auto;
    padding: 0 18px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    font-size: 14px;
}

.floor_1 .notice_more {
    color: #666;
}

.floor_1 .item {
    margin-top: 60px;
    margin-bottom: 70px;
}

.floor_1 .item_left,
.floor_1 .item_right {
    display: table-cell;
}

.floor_1 .item_left {
    vertical-align: top;
}

.floor_1 .item_left img {
    padding-top: 20px;
}

.floor_1 .item_right {
    width: 100%;
    padding-left: 40px;
}

.floor_1 .item_right h3 {
    font-size: 16px;
    color: #666;
    padding-bottom: 10px;
}

.floor_1 .item_right p {
    font-size: 14px;
    color: #808080;
    line-height: 22px;
}

.carousel {
    margin-top: 35px;
    margin-bottom: 40px;
}

.floor h3 {
    color: #666;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.floor {
    margin-bottom: 80px;
}

.floor_2 .black {
    background: #fff;
    margin-top: 40px;
    min-height: 288px;
}

.floor_2 .document_box {}

.floor_2 .list_box {
    padding: 18px 20px;
}

.floor_2 .list_box li {
    line-height: 36px;
    color: #808080;
    font-size: 14px;
    list-style: none;
}

.floor_2 .list_box li i {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fc8e5d;
    margin-right: 15px;
}

.floor .right h3 {
    margin-top: 108px;
}

.floor .right p {
    margin-top: 40px;
    color: #808080;
    line-height: 26px;
}

.floor_4 .right h3 {
    margin-top: 165px;
    margin-bottom: 45px;
    text-align: left;
}

.floor_4 .item {
    color: #808080;
    line-height: 22px;
}

.floor_5 .items {
    margin-top: 30px;
}

.floor_5 .item {
    background: #fff;
    padding-bottom: 52px;
}

.floor_5 .item_img {
    text-align: center;
    padding: 48px 0 34px 0;
}

.floor_5 .item_title {
    font-size: 18px;
    color: #666;
    text-align: center;
    padding-bottom: 20px;
}

.floor_5 .item_text {
    height: 50px;
    line-height: 24px;
    overflow: hidden;
    font-size: 14px;
    color: #999;
    padding: 0 36px;
}

.floor_6 .items {
    margin: 30px 0 0 0;
    background: #fff;
    list-style: none;
    padding: 34px 24px 0 24px;
}

.floor_6 .item {
    padding-bottom: 34px;
}

.floor_6 .item h4 a {
    font-size: 16px;
    color: #fb8d5c;
}

.floor_6 .item p {
    font-size: 14px;
    color: #999;
    padding-top: 20px;
}

.floor_7 .title {
    margin-bottom: 40px;
}

.floor_7 .already-serve {
    text-align: center;
    padding: 20px 0;
    background: #fff;
}

.floor_7 .already-serve .serve-number {
    color: #fb8d5c;
    font-size: 38px;
    font-weight: bold;
    display: inline-block;
}

.floor_7 .already-serve .serve-type {
    font-size: 16px;
    color: #9da4ad;
    display: inline-block;
}

.floor_8 .items {
    background: #fff;
    margin-top: 40px;
    padding: 40px 25px;
}

.floor_8 .item_img {
    max-width: 120px;
    max-height: 120px;
    margin: 0 auto;
}

.floor_8 .item_title {
    text-align: center;
    color: #666;
    font-size: 16px;
    padding-top: 10px;
}

.floor_9 .list_box {
    background: #fff;
    margin-top: 40px;
    padding: 20px 20px;
}

.floor_9 .list_box li {
    float: left;
    list-style: none;
    width: 12.5%;
    padding: 10px;
}

.floor_9 .list_box li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.floor_9 .list_box li a img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}


/*下载*/

.format_title {
    font-size: 28px;
    text-align: center;
}

.common_format_title {
    margin: 60px 0 48px 0;
}

.vector_format_title {
    margin: 40px 0 60px 0;
}

.format_common_box {}

.common_format {
    padding: 30px 0;
    background: #fff;
    margin-bottom: 20px;
}

.common_format .list_icon {
    width: 40px;
    height: 60px;
    margin-left: 40px;
    background: url(../img/index/format_down_icon.png) center center no-repeat;
}

.common_format .qrcode_size {
    padding-top: 10px;
    font-size: 16px;
    width: 178px;
    padding-left: 30px;
}

.common_format .arrow_tip {
    width: 67px;
    height: 60px;
    background: url(../img/index/format_arrow.png) center center no-repeat;
}

.common_format .qrcode_logo {
    width: 60px;
    height: 60px;
    margin-left: 48px;
}

.common_format .qrcode_logo img {
    width: 100%;
    height: 100%;
}

.common_format .upload_btn_box {
    margin: 15px 20px 0 30px;
}

.common_format .upload_btn_box .btn {
    background: #f96363;
    padding: 8px 18px;
    color: #fff;
    border-radius: 8px;
}

.common_format .remarks {
    line-height: 60px;
    margin-right: 45px;
}

.common_format .remarks i {
    font-style: normal;
    padding: 0 5px;
}

.common_format .down_btn_box {
    margin-left: 50px;
    margin-top: 14px;
}

.common_format .down_btn_box .btn {
    background: #78bf78;
    padding: 8px 30px;
    color: #fff;
    border-radius: 8px;
}

.vector_format_box {
    margin-bottom: 230px;
}

.vector_format {
    padding: 40px 0;
    text-align: center;
    background: #fff;
}

.vector_format .down_icon {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 36px;
    background: url(../img/index/format_down_icon.png) center center no-repeat;
    background-size: 100%;
}

.vector_format .remarks {
    display: inline-block;
    width: 148px;
    vertical-align: top;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    margin: 0 10px;
}

.vector_format .down_btn_box {
    display: inline-block;
    vertical-align: top;
    height: 36px;
}

.vector_format .down_btn_box .btn {
    background: #78bf78;
    padding: 8px 24px;
    color: #fff;
    border-radius: 8px;
}

@media (min-width: 992px) {
    .generate_qrcode_box .qrcode_show_box {
        margin: 0 auto 20px auto;
    }
}
/*QQ客服*/
#qq_kefu_warp{
	width: 100%;
	position: fixed;
	left: 0px;
	top: 200px;
}
#qq_kefu_warp .kefu{
	position: absolute;
	margin-left: -60px;
	z-index: 99;
}