<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>二维码下载 </title>   
 		<input value="${android_url!''}" id="android_url"  type="hidden">
 		<input value="${ios_url!''}" id="ios_url"  type="hidden">
 		
        <script type="text/javascript">
        	var android_url = document.getElementById("android_url").value;
        	var ios_url = document.getElementById("ios_url").value;
                	
            /*
             * 智能机浏览器版本信息:
             *
             */
            var browser = {
                versions: function() {
                    var u = navigator.userAgent, app = navigator.appVersion;
                    return {//移动终端浏览器版本信息
                        trident: u.indexOf('Trident') > -1, //IE内核
                        presto: u.indexOf('Presto') > -1, //opera内核
                        webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                        gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
                        mobile: !!u.match(/AppleWebKit.*Mobile.*/) || !!u.match(/AppleWebKit/), //是否为移动终端
                        ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                        android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或者uc浏览器
                        iPhone: u.indexOf('iPhone') > -1 || u.indexOf('Mac') > -1, //是否为iPhone或者QQHD浏览器
                        iPad: u.indexOf('iPad') > -1, //是否iPad
                        webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部
                    };
                }(),
                language: (navigator.browserLanguage || navigator.language).toLowerCase()
            }
 
            if (browser.versions.ios || browser.versions.iPhone || browser.versions.iPad) {
                window.location= ios_url;
            }
            else if (browser.versions.android) {
                window.location= android_url;
            }
 
//            document.writeln("语言版本: " + browser.language);
//            document.writeln(" 是否为移动终端: " + browser.versions.mobile);
//            document.writeln(" ios终端: " + browser.versions.ios);
//            document.writeln(" android终端: " + browser.versions.android);
//            document.writeln(" 是否为iPhone: " + browser.versions.iPhone);
//            document.writeln(" 是否iPad: " + browser.versions.iPad);
//            document.writeln(navigator.userAgent);
            function check_os() { 
                windows = (navigator.userAgent.indexOf("Windows",0) != -1)?1:0; 
                mac = (navigator.userAgent.indexOf("mac",0) != -1)?1:0; 
                linux = (navigator.userAgent.indexOf("Linux",0) != -1)?1:0; 
                unix = (navigator.userAgent.indexOf("X11",0) != -1)?1:0; 
                if (windows) os_type = "MS Windows"; 
                else if (mac) os_type = "Apple mac"; 
                else if (linux) os_type = "Lunix"; 
                else if (unix) os_type = "Unix"; 
                return os_type; 
            } 
            var osType = check_os();
            if (osType == "Apple mac") {
                window.location= ios_url;
            }else{
                window.location= android_url;
            }
 
        </script>
    </head>
    <body>
         
    </body>
</html>